{{ define "content" }}
    <div class="row">
        <div class="col">
            <p>С начала месяца: {{ .MonthlyTotal }}р.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>С начала недели: {{ .WeeklyTotal }}р.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/" method="POST">
                <div class="form-group">
                        <select class="custom-select" name="category-id">
                            {{ range .Categories }}
                            <option value="{{ .ID }}">{{ .Name }}</option>
                            {{ end }}
                        </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="amount" placeholder="Сумма">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="comment" placeholder="Комментарий">
                </div>
                <button type="submit" class="btn btn-primary">Внести</button>
            </form>
        </div>
    </div>
{{ end }}
