{{ define "content" }}
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Дата</td>
                        <td>Категория</td>
                        <td>Сумма</td>
                        <td>Комментарий</td>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Transactions }}
                    <tr>
                        <td>{{ .Date.Format "2006-01-02" }}</td>
                        <td>{{ .Category }}</td>
                        <td>{{ .Amount }} руб.</td>
                        <td>{{ .Comment }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}
